body {
    	background-color: lightblue;
    	font-family: Arial, sans-serif;
	color: #2b6cb0;
	text-align: center; /* zentriert Text horizontal */
	display: flex; /* gesamter Body wird zu Flex-Container */
	flex-direction: column; /* alle Elemente im Body werden untereinander angeordnet */
	justify-content: center; /* zentriert Elemente vertikal in Mitte des Bildschirms */
	align-items: center; /* zentriert Elemente horizontal */
	height: 100vh; /* Body ist so hoch, wie das gesamte Browserfenster */
	margin: 0; /* entfernt Standard-Außenabstand des Browsers */
	padding: 0; /* entfernt den Innenabstand, dadurch kann Flexbox Seite exakt zentrieren */

}

form {
	display: flex; /* auch Formular wird zu Flex-Container */
	flex-direction: column; /* Alle Formular-Elemente (Input-Felder, Button) werden untereinander angeordnet */
	align-items: center; /* Elemente werden horizontal zentriert */
	gap: 15px; /* Abstand zwischen Formularelementen: 15px */
	margin-top: 20px; /* Abstand oben: 20px */
}

.cloud-btn {
    background-image: url('wolke.png'); /* legt wolke.png als Hintergrundbild fest */
    background-size: contain; /* Bild bleibt vollst. sichtbar + behält sein Seitenverhältnis */
    background-repeat: no-repeat; /* verhindert, dass Bild gekachelt wird, Bild erscheint nur einmal */
    background-position: center; /* Bild wird zentriert im Element platziert */
    background-color: transparent; /* transparenter Hintergrund */

    width: 170px;
    height: 120px;
    border: none; /* kein sichtbarer Rahmen */
    cursor: pointer; /* Mauszeiger ändert sich auf Button zur Hand */

    display: flex; /* aktiviert Flexbox (damit wird Text in Button ausgerichtet) */
    justify-content: center; /* zentriert Inhalt horizontal */
    align-items: center; /* zentriert Inhalt vertikal */
    color: #2b6cb0; /* Textfarbe blau */
}