<!DOCTYPE html>
<html>
<head>
	<title>WEATHER RANGERS</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>deine wetter-helfer</h1>

<form method="POST">

<p>
mithilfe der WEATHER-RANGERS-APP kannst du dir <br>
anhand deines standorts entsprechende kleidungsempfehlungen <br>
ausgeben lassen. <br><br>

gib hier deinen standort an und es kann losgehen:<br><br>
<input type="text" name="standort">
</p>

<p>
du brauchst eine empfehlung für die nächsten tage?<br>
gib hier ein beliebiges datum/uhrzeit an und erhalte eine vorhersage:<br><br>
<input type="datetime-local" name="datum">
<p>

<button type="submit" class="cloud-btn">Empfehlung abrufen
</button>

</form>

</body>
</html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- TESTING -->
<h2>Hier kommt was zurück aus dem Backend (wenn abgeschickt)</h2>
{% if submits %}
<p>Datum: {{ submits[0][0] }}</p>
<p>Uhrzeit: {{ submits[0][1] }}</p>
<p>Stunde: {{ submits[0][1][:2] }}</p>
{% else %}
<p>Noch keine Einträge vorhanden.</p>
{% endif %}

<h2>API-CALL Response:</h2>
{% if api_response %}
<p> {{ api_response }} </p>
{% endif %}
<!-- TESTING -->

</body>
</html>

