<!DOCTYPE html>
<html>
<head>

	<title>🌞 WEATHER RANGERS 🌞</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>


<br>

<div class="box1">
	<h1>deine wetter-helfer</h1>

	<div class="description">
	Mithilfe der Wetter-Helfer kannst du 
	anhand deines Standorts entsprechende kleidungsempfehlungen 
	ausgeben lassen.

	Du kannst zwischen Standorten wählen (Wetterdaten sind 5 Tage (?) voraus/nachhinein möglich):
	</div>

</div>

<div class="box2">

<form method="POST">

<p>


<input type="text" name="standort" required placeholder="Berlin"
oninvalid="this.setCustomValidity('Bitte gib einen Standort ein!')"
oninput="this.setCustomValidity('')">
</p>

<p>

gib hier ein beliebiges datum/uhrzeit an und erhalte deine vorhersage:<br><br>
<input type="date" name="datum" required
oninvalid="this.setCustomValidity('Bitte gib ein Datum ein!')"
oninput="this.setCustomValidity('')">

<input type="time" id="uhrzeit" name="uhrzeit" required
oninvalid="this.setCustomValidity('Bitte gib eine Uhrzeit ein!')"
oninput="this.setCustomValidity('')">
</p>

<button type="submit" class="cloud-btn">empfehlung abrufen</button>

</form>

</div>

<!-- TESTING -->

<div class="box3">



<h1>deine wetter-helfer</h1>

<div class="input_form">
	<form method="POST">
		<p>
		mithilfe der WEATHER-RANGERS-APP kannst du dir <br>
		anhand deines standorts entsprechende kleidungsempfehlungen <br>
		ausgeben lassen. <br><br>

		gib hier deinen standort an und es kann losgehen:
		<select id="stadt" name="standort">
		<option value="berlin">Berlin</option>
		</select>
		</p>


		<p>du brauchst eine empfehlung für die nächsten tage?<br>
		gib hier ein beliebiges datum/uhrzeit an und erhalte eine vorhersage:
		<input type="date" name="datum" required>
		<input type="time" id="uhrzeit" name="uhrzeit" required>
		</p>
		<button id="api-btn" class="cloud-btn" type="submit">empfehlung abrufen</button>
	</form>
</div>
<!-- TESTING 

<h2>Hier kommt was zurück aus dem Backend (wenn abgeschickt)</h2>

{% if submits %}
<p>Datum: {{ submits[0][0] }}</p>
<p>Uhrzeit: {{ submits[0][1] }}</p>
<p>Stunde: {{ submits[0][1][:2] }}</p>
{% else %}
<p>Noch keine Einträge vorhanden.</p>
{% endif %}
-->

<div id="empfehlung_display" class="empfehlung">
	<div class="wetter-daten">
		{% if api_response %}
		<script>
			var empfehlung = document.getElementById('empfehlung_display');
			empfehlung.style.display = 'block';
			console.log('test')
		</script>
			<p>Datum: {{ api_response[0].Datum }}</p>
			<p>Uhrzeit: {{ api_response[0].Uhrzeit }} Uhr</p>
			<p>Temperatur: {{ api_response[0].Temperatur }} °C</p>
			<p>Regen: {{ api_response[0].Regen }} mm</p>
			<p>Schnee: {{ api_response[0].Schnee }} cm</p>
			<p>Wind: {{ api_response[0].Wind }} km/h</p>
		{% endif %}
	</div>
	<div class="kleider-empfehlung">
		<p>Oberteil: {{ empfehlung_oberteil | join(', ') }}</p>
		<p>Hose: {{ empfehlung_hose | join(', ') }}</p>
		<p>Schuhe: {{ empfehlung_schuhe | join(', ') }}</p>
		<p>Accessoires: {{ empfehlung_accessoire | join(', ') }}</p>
	</div>
</div>



<h2>API-CALL Response:</h2>

{% if api_response %}
<p> {{ api_response }} </p>
{% endif %}

<p>Empfehlung Oberteil: {{ empfehlung_oberteil }}</p>
<p>Empfehlung Kopfbedeckung: {{ empfehlung_kopf }}</p>
<!-- TESTING -->


</div>

</body>
</html>
