<!DOCTYPE html>
<html>
<head>

	<title>🌞 WEATHER RANGERS 🌞</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap" rel="stylesheet">   
</head>


<div class="box3">



	<h1>deine wetter-helfer</h1>

	<div class="description">
		Mithilfe der Wetter-Helfer kannst du 
		anhand deines Standorts entsprechende kleidungsempfehlungen 
		ausgeben lassen.
		<br><br>
		Du kannst zwischen Standorten wählen (Wetterdaten sind 5 Tage (?) voraus/nachhinein möglich):
	</div>

	<div class="input_form">
		<form method="POST">
			<div class="input-group">
				<select id="stadt" name="standort">
					{% for stadt in staedte %}
						<option value='{{ stadt | tojson }}'>{{ stadt.name }}</option>
					{% endfor %}
				</select>
				<input type="date" class="date-input" name="datum" value="{{ datum_aktuell }}">
				<input type="time" class="time-input" name="uhrzeit" value="{{ uhrzeit_aktuell }}">
			</div>
			<button id="api-btn" class="cloud-btn" type="submit">empfehlung abrufen</button>
		</form>
	</div>
		{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
		<div class="flash">{{ message }}</div>
		{% endfor %}
	{% endif %}
	{% endwith %}
	<!-- TESTING 

	<h2>Hier kommt was zurück aus dem Backend (wenn abgeschickt)</h2>

	{% if submits %}
	<p>Datum: {{ submits[0][0] }}</p>
	<p>Uhrzeit: {{ submits[0][1] }}</p>
	<p>Stunde: {{ submits[0][1][:2] }}</p>
	{% else %}
	<p>Noch keine Einträge vorhanden.</p>
	{% endif %}
	-->

	<div id="empfehlung_display" class="empfehlung">
		<div class="wetter-daten">
			{% if api_response %}
			<script>
				var empfehlung = document.getElementById('empfehlung_display');
				empfehlung.style.display = 'block';
			</script>
				
				<div class="wetter-daten" style="text-align:start">
					<h2 style="margin:auto">{{ stadtname }}</h2>
					<p>Datum: {{ api_response[0].Datum }}</p>
					<p>Uhrzeit: {{ api_response[0].Uhrzeit }} Uhr</p>
					<p>Temperatur: {{ api_response[0].Temperatur }} °C</p>
					<p>Regen: {{ api_response[0].Regen }} mm</p>
					<p>Schnee: {{ api_response[0].Schnee }} cm</p>
					<p>Wind: {{ api_response[0].Wind }} km/h</p>
				<h3 style="margin:auto">Kleidungsempfehlung:</h2>
					<div class="kleider-empfehlung">
						{% for item in result %}
						<p>{{ item.kategorie }}: {{ item.name }}</p>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>

	</div>


	<!-- TESTING
	<h2>API-CALL Response:</h2>

	{% if api_response %}
	<p> {{ api_response }} </p>
	{% endif %}

	<p>Empfehlung Oberteil: {{ empfehlung_oberteil }}</p>
	<p>Empfehlung Kopfbedeckung: {{ empfehlung_kopf }}</p>
	 -->

</div>

</body>
</html>
