body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
	color: #2b6cb0;
	text-align: center;
	margin: 0;
}

.input-form {
    display: flex;
	flex-direction: column;
    justify-content: center;
}

h1 {
	margin: auto;
    font-family: 'Fredoka', Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    color: #2b6cb0;
}

h2 {
    margin: auto;
}

.cloud-btn {
    background-image: url('wolke.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    


    width: 170px;
    height: 110px;
    border: none;
    cursor: pointer;
    padding-bottom: 10px;
    color: #2b6cb0;
}

.box1, .box2, .box3 {
    width: 500px;
    margin: 30px auto;
    padding: 25px;

    background-color: aliceblue;
    backdrop-filter: blur(10px);

    border-radius: 15px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.input-group {
    margin: auto;
    font-family: 'Fredoka', Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: fit-content;
}

.input-group select,
.input-group input {
  border: none;
  padding: 8px 12px;
  outline: none;
  font-size: 14px;
}

.input-group select:not(:last-child),
.input-group input:not(:last-child) {
  border-right: 1px solid #ccc;
}

.description {
	text-align: start;
    line-height: 20px;
    margin: 15px;
	background-color: white;
	border: 1px solid #2b6cb0;
	padding: 10px;
}

.empfehlung {
	background-color: white; 
	border: 2px dashed rgb(102, 7, 255);
    border-radius: 15px;
	display: none;
	padding: 10px;
}