body {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    background-image: url('frog.jpg');
    background-size:cover;
    font-family: Arial, sans-serif;
	color: #2b6cb0;
	text-align: center;
	margin-bottom: 20px;
}


/* Bewegung */
@keyframes float {
  0% {
    transform: translate(0,0) scale(1);
  }
  50% {
    transform: translate(120px,-80px) scale(1.2);
  }
  100% {
    transform: translate(-100px,100px) scale(0.9);
  }
}

.input-form {
    display: flex;
	flex-direction: column;
    justify-content: center;
}

h1 {
	margin: auto;
    font-family: 'Fredoka', Arial, sans-serif;
    font-size: 40px;

      text-shadow:
    -1px -1px 0 #2b6cb0,
     1px -1px 0 #2b6cb0,
    -1px  1px 0 #2b6cb0,
     1px  1px 0 #2b6cb0;
    letter-spacing: 2px;
    color: white;
}

h2 {
    margin: auto;
}

.cloud-btn {
    background-image: url('wolke.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    


    width: 170px;
    height: 110px;
    border: none;
    cursor: pointer;
    padding-bottom: 10px;
    color: #2b6cb0;
}

.box1, .box2, .box3 {
    top: 20px;
    position: relative;
    width: 500px;
    margin: auto;
    padding: 25px;
    border-style: 3px solid #2b6cb0;

    background-color: aliceblue;
    backdrop-filter: blur(10px);

    border-radius: 15px;
    
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.input-group {
    margin: auto;
    font-family: 'Fredoka', Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: fit-content;
}

.input-group select,
.input-group input {
  border: none;
  padding: 8px 12px;
  outline: none;
  font-size: 14px;
}

.input-group select:not(:last-child),
.input-group input:not(:last-child) {
  border-right: 1px solid #ccc;
}

.description {

    border: 2px solid #ccc;
	text-align: start;
    line-height: 20px;
    border-radius: 15px;
    margin-top: 30px;
    margin: 15px;
	background-color: white;
	padding: 15px;
}

.empfehlung {
  display: none;
  gap: 20px; 
	background-color: white; 
	border: 2px dashed #2b6cb0;
    border-radius: 15px;
    margin: 15px;
	padding: 15px;
}

.empfehlung > .wetter-daten.left,
.empfehlung > .kleider-empfehlung.left,
.empfehlung > .kleider-bilder.right {
    flex: 1;
    box-sizing: border-box;                       
}